.footer {
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.footerLeading,
.footerTrailing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerLeading {
    padding-left: 0.5rem;
}

.footerLeading div {
    width: 100px;
}

.footerLeading p {
    font-weight: 300;
    font-size: 14px;
}

.footerTrailing {
    padding-right: 0.5rem;
}