/* Base styles for .note and .centeredNote */
.note,
.centeredNote {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  transition: box-shadow 0.5s ease;
}

.note {
  max-height: 420px;
}

.centeredNote {
  position: relative;
  max-height: 70%;
  z-index: 800;
}

.note:hover,
.centeredNote:hover {
  box-shadow: 0 4px 8px rgba(0.3, 0.3, 0.3, 0.3);
}

.noteModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  height: 100vh;
  min-height: 600px;
  position: fixed;
  z-index: 900;
  transition: background-color 1s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.noteOptionsMenuButton {
  position: relative;
}

.noteOptionsMenu {
  background-color: white;
  display: flex;
  flex-direction: column;
  top: 3rem;
  position: absolute;
  left: 1rem;
  z-index: 950;
  box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
}


@media screen and (max-width: 600px) {
  .note {
    max-width: 380px;
  }
}

.titleTextField,
.contentTextField {
  width: 100%;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: large;
}


.infoContainerRead {
  overflow-y: hidden;
}

.infoContainer {
  overflow-y: auto;
}

.titleContainer .titleContainerScroll {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.titleContainer div,
.contentContainer div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleContainer p,
.contentContainer p {
  padding-left: 1rem;
  padding-right: 1rem;
  word-wrap: break-word;
}

.titleContainerScroll {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.nestedNotesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.nestedNotesWrapper,
.footerWrapper,
.footerWrapperShadow {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footerWrapperShadow {
  box-shadow: 0 -4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

.footerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;

}

/* .nestedNotesContainer div,
.footerContainer div {
  width: 100%;
} */