.note, 
.noteEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
    width: 100%;
    padding-right: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.noteEdit {
    overflow-y: scroll;
    max-height: 700px;
}


@media screen and (max-width: 678px) {
   .note {
        max-width: 380px;
   }
}


.titleContainer,
.contentContainer,
.indicatorsContainer,
.footerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.footerContainer,
.indicatorsContainer {
    height: 3rem;
    justify-content: space-between;
  }


.footerContainer div {
    padding-left: 0.5rem;
    width: 100%;
}

.indicatorsContainer div:nth-of-type(1) {
    padding-left: 1rem;
  
}

.indicatorsContainer div:nth-of-type(2) {
    padding-right: 0.5rem;
}


.titleContainer {
    justify-content: space-between;
}


.titleTextField, 
.contentTextField, 
.titleDiv,
.contextDiv {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}

.titleDiv, .contentDiv {
    min-height: 3rem ;
    padding-left: 1rem;
}

.contentDiv {
    padding-right: 1rem;
}

