/* Container Styles */
.container,
.containerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.container {
    margin-bottom: 1rem;
    width: 100%;
}

.containerModal {
    position: fixed;
    transition: background-color 1s ease;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 5;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.noteCreate,
.noteRead,
.noteEdit {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.noteCreate,
.noteRead,
.noteEdit {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.noteCreate {
    box-shadow: 0 4px 8px rgba(0.4, 0.4, 0.4, 0.4);
}

.noteEdit,
.noteRead {
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

.noteCreate,
.noteRead {
    max-height: 420px;
}

.noteEdit {
    max-height: 60%;
    min-height: 4rem;
}

.noteCreate:focus,
.noteRead:focus,
.noteEdit:focus {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.noteCreate:hover,
.noteRead:hover,
.noteEdit:hover {
    box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
}

/* Info Container Styles */
.infoContainerRead {
    overflow-y: hidden;
}

.infoContainer {
    overflow-y: auto;
}

/* Title Container Styles */
.titleContainer .titleContainerScroll {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.titleContainer div,
.contentContainer div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleContainerScroll {
    box-shadow: 0 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
}

/* Content Container Styles */
.contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Nested Notes Container Styles */
.nestedNotesContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.nestedNotesWrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Footer Styles */
.footerWrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.footerContainer,
.footerContainerRead {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerLeading {
    display: flex;
    flex-direction: row;
}

/* Note Options Menu Styles */
.noteOptionsMenu {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    display: flex;
    flex-direction: column;
    top: 44px;
    position: absolute;
    z-index: 4;
}

.menuItem {
    padding: 0.5rem;
    background-color: inherit;
    align-items: center;
}

.menuItem:hover {
    background-color: gray;
}

.icon {
    color: gray;
}

.icon:disabled {
    color: lightgray;
}