.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding-right: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
   .note {
        max-width: 370px;
   }
}

.titleContainer,
.contentContainer,
.detailsContainer,
.footerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.footerContainer {
  height: 3rem;
  justify-content: space-between;
}

.footerContainer div {
    padding-left: 0.5rem;
    width: 100%;
}

.titleTextField, 
.contentTextField {
    font-size: large;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}