html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

::-webkit-scrollbar {
  width: 10px;
  color: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}