html,
body {
  margin: 0;
  padding: 0;
  min-width: 400px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.noScroll {
  overflow: hidden;
}

h1, h2, h3{
  font-weight: 300;
}

h3 {
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}