.content {
    /* height: 100vh; */
    /* min-height: 600px; */
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
    /* justify-content: center; */
}

