.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

.containerItem:hover {
    background-color: #f0f0f0;
    /* Change background color on hover */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    /* transform: scale(1.05); */
    /* Slightly scale up the item on hover */
    transition: transform 0.2s ease-in-out;
    /* Smooth transition for the transform effect */
}

@media screen and (max-width: 720px) {
    .container,
    .containerText {
        width: 380px;
    }
}

.containerHeader,
.containerItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.containerItemLeading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

